:root {
  --main-background: #fafafa;
  --text-color: #232323;
  --highlight: #b1e5f2;
  --footer: #272635;
  --borders: #a6a6a8;
  font-family: Arial, Helvetica, sans-serif;
}

/* css reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-logo img {
  height: 50px;
}

.navbar-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar-links li {
  margin-left: 20px;
  list-style: none;
}

.navbar-links li:first-child {
  margin-left: 0;
}

.navbar-links li a {
  position: relative;
  text-decoration: none;
}

/* underline animation */
/* ------------------- */
.navbar-links li a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

.navbar-links li a:hover::before {
  visibility: visible;
  transform: scaleX(1);
}
/* ------------------- */

.navbar-links a {
  color: #333;
  text-decoration: none;
}

.navbar-toggle {
  display: none;
}

@media (max-width: 768px) {
  .navbar {
    flex-flow: column wrap;
    align-items: center;
  }

  .navbar-logo {
    flex-basis: 100%;
    display: flex;

    margin-bottom: 20px;
  }

  .navbar-links {
    flex-basis: 100%;
    justify-content: center;
    display: none;
  }

  .navbar-links.active {
    display: block;
  }

  .navbar-links li {
    padding: 10px 0;
    margin: 10px 0;
    text-align: center;
  }

  .navbar-toggle {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 20px;
    padding-top: 19px;
  }

  .navbar-toggle span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #333;
    margin-bottom: 5px;
  }
}
