/* This is a css for portfolios */
:root {
    --main-background: #fafafa;
    --text-color: #232323;
    --highlight: #b1e5f2;
    --footer: #272635;
    --borders: #a6a6a8;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: var(--main-background);
  }

/* CSS Reset */
body, main, footer, article, article p, nav, h1, h2 {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Styles for body*/
body{
    display: block;
    background-color: #FAFAFA;
    color: #232323;
    
}

/* Styles for nav */
nav{
    background-color: #a6a6a8;
    height: 5ch;
}

/* Styles for main*/
main{
    padding: 1.5em;
    background-color: #FAFAFA;
    color: #232323;
    height: 106ch;
}

article{
    
    background-color: #FAFAFA;
    text-align: left;
    height: 30ch;
    font-size: 1.5em;
}

h2{
    font-style: italic;
}

h1{
    text-align: left;
    background-color: #a6a6a8; 
}


/* Styles for footer*/
footer {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: medium;
    text-align: center;
    background-color: #272635;
    color:#FAFAFA;
    height: 10ch;
}

/* Tablet Viewport */
@media screen and (max-width: 992px) {
    article{
        height: auto;
    }
  }

/* Mobile Viewport */
@media screen and (max-width: 768px) {
    article{
        height: auto;
    }
  }

